:root {
    --latar: #1f1d1e;
    --putih: #f1f2f7ce;
}
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100dvh;
    overflow-x: hidden;
    background-color: var(--latar);
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 800px;
    width: 100%;
}


footer {
    z-index: -30;
}
