:root {
    --latar: #1f1d1e;
    --putih: #f1f2f7ce;
}
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100dvh;
    background-color: var(--latar);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

.utama {
    position: relative;
    width: 100dvw;
    height: 80dvh;
    overflow-x: hidden;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
}

