:root {
    --latar: #1f1d1e;
    --putih: #f1f2f7ce;
}
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

footer {
    position: relative;
    width: 100%;
    top: 28dvh;
}
a {
    text-decoration: none;
}

